extends layout

block javascript
  script(type='text/javascript')
    include:uglify index.js

block content
  script(type='text/template')#tmpl-weather-popover
    table
      tr
        td
          canvas(width='90', height='90')#weatherIcon
        td(style='width:100%')
          h1.tempature
          h4.detail
    .weather-details
      h4(style='margin-top: 0').next-hour-title Next Hour
      h5.next-hour
      h4 Next 24 Hours
      h5.next-24
    p.small.text-right.no-link-color
      a(href='http://forecast.io/#/f/' + locals.weatherLocation, target='_blank') Forecast.io

  script(type='text/template')#tmpl-user-popover
    ul
      li
        a(tabindex='-1', href=locals.webRoot + '/') Login Settings
      li.divider
      li
        a(tabindex='-1', href=locals.webRoot + '/?logout') Logout


  script(type='text/template')#tmpl-panel-upcoming-show-day
    td
      div.date-label
        span <%= dateLabel %>
      .shows
        ul.list-episodes.list-inline

  script(type='text/template')#tmpl-panel-upcoming-show-popover
    p.small
      strong Title: 
      | <%= epTitle %>
      br
      strong Episode: 
      | <%= epCode %> 
      strong Airs 
      | <%= epDateFromNow %>
      br
      span.small
        | <%= showTimeAndNetwork %>
        br
        strong Plot: 
        | <%= epPlot %>

  script(type='text/template')#tmpl-panel-sabnzbd-queue-item
    td(style='width:20px').ends
      i.glyphicon.glyphicon-pause.pointer.queue-item-pause

    td.middle
      .modal.fade.bs-modal-sm.modal-delete-nzb(tabindex='-1', role='dialog', aria-labelledby='deleteNzb', aria-hidden='true')
        .modal-dialog.modal-sm
          .modal-content
            .modal-body Are you sure you want to delete this nzb?
            .modal-footer
              button(type='button', data-dismiss='modal').btn.btn-block.btn-default Cancel
              button(type='button', data-files='0').btn-modal-delete-nzb.btn.btn-block.btn-primary Delete NZB
              button(type='button', data-files='1').btn-modal-delete-nzb-files.btn.btn-block.btn-danger Delete NZB & Files

      .filename-wrap
        .filename-text <%= filename %>
      .small
        .pull-right
          strong.mb-left
          span.add-spacing /
          strong.mb-total
          span.add-spacing -
          strong.percentage-text
        div
          strong.status-text <%= status %>
          span.add-spacing |
          strong.pointer.cat-text <%= cat %>
      .progress
        .progress-bar
      .menu(style='display:none')
        select(rel='tooltip', title='Category', data-placement='right', data-type='category', data-field='cat').select-event.btn.btn-default.category-select

        select(rel='tooltip', title='Priority', data-placement='right', data-type='priority', data-field='priority').select-event.btn.btn-default.priority-select
          option(value='Force') Force
          option(value='High') High
          option(value='Normal') Normal
          option(value='Low') Low
          option(value='Stop') Stop

        select(rel='tooltip', title='Processing', data-placement='left', data-type='processing', data-field='unpackopts').select-event.btn.btn-default.unpackopts-select
          option(value='0') Download
          option(value='1') + Repair
          option(value='2') + Unpack
          option(value='3') + Delete

        select(rel='tooltip', title='Scripts', data-placement='left' data-type='script', data-field='script').select-event.btn.btn-default.scripts-select

        button(type='button', rel='tooltip', title='Remove Nzb', data-placement='left').btn-delete-nzb.btn.btn-danger.btn-xs.delete-btn
          i.glyphicon.glyphicon-trash.icon-delete-nzb
    td(style='20px').ends
      i.glyphicon.glyphicon-move.drag-handle



  script(type='text/template')#tmpl-panel-sabnzbd-queue-item-menu
    ul.action-menu
      li
        a(tabindex='-1', href='#').with-icon
          i.glyphicon.glyphicon-trash
          | Delete Nzb
  script(type='text/template')#tmpl-panel-recently-aired-show-item
    .poster
      img(src!='<%= showPoster %>', title!='<%= showName %>').pointer

  script(type='text/template')#tmpl-panel-recently-aired-show-popover
    | <% if(loggedIn) { %> 
    .watch-status.small
      | <% if(watched) { %>
      span.label.label-info Watched
      | <% } else { %>
      span.label.label-warning Unwatched
      | <% }%>
    | <% }%>

    p.small
      strong Title: 
      |  <%= epTitle %>
      br
      strong Episode: 
      |  <%= epSeason %>x<%= epNumber %> 
      strong  Added: 
      |  <%= epAddedFormated %>
      br
      span.small
        strong Plot: 
        |  <%= epPlot %>
    div
      img(src!='<%= epPoster %>').epPoster.img-thumbnail

  script(type='text/template')#tmpl-panel-recently-added-movie-popover
    .carousel-menu
      .carousel-menu-holder
        h3.popover-title <%= title %> (<%= year %>)
        .carousel-menu-content.small
          .small
            strong Released: 
            |  <%= released %>
            br
            strong Length: 
            |  <%= length %>
            br
            strong Rating: 
            |  <%= rating %>
            br
            strong Plot: 
            |  <%= summary %>

  script(type='text/template')#tmpl-panel-currently-watching-popover
    .carousel-menu
      .carousel-menu-holder
        h3.popover-title <%= title %>
        .carousel-menu-content.small
          .small
            | <% if(loggedIn) { %>
            | Coming Soon
            | <% } else { %>
            | Login to see details.
            | <% } %>

  script(type='text/template')#tmpl-panel-data-cap-li
    div
    .progress
      .progress-bar
    .detail
      .pull-right <%= percent %>%
      strong <%= label %>: 
      span.small.loggedIn
        span.used
        span  / 
        span.limit

  script(type='text/template')#tmpl-panel-disk-space-li
    a(href='#').pull-left
      img.media-object(src=locals.webRoot + '/images/LibDiskIcon.png')
    .media-body
      div <%= label %>
      .progress
        .progress-bar
      div(style='padding-top:1px')
        .pull-right.server-online <%= percent %>%
        .small(style='display:none').server-offline Drive Offline
        .small.loggedIn
          span.usedSpace
          span  / 
          span.totalSpace

  script(type='text/template')#tmpl-bottom-display-item
    div
      .itemTooltip
        .detail Loading
        h1 <%= title %>:
      .progressDiv

  script(type='text/template')#tmpl-panel-service-item
    td.text-right <%= label %>
    td.text-left
      a(target='_blank').btn.btn-xs
        i.glyphicon
        | <%= status %>

  script(type='text/template')#tmpl-modal-bandwidth
    h4 Bandwidth Statistics
      .pull-right.small
        .not-logged-in(style='color:#b94a48') Please login to see these stats
        .logged-in Since 
          span.bwSince <%= dateSince %>
    table.table.table-hover.table-condensed.small.logged-in
      thead
        tr
          th
          th.text-right Download
          th.text-right Upload
          th.text-right Total
      tbody
        tr.text-right
          td
            strong Today:
          td.todayDownload
          td.todayUpload
          td.todayTotal
        tr.text-right
          td
            strong This Month:
          td.thisMonthDownload
          td.thisMonthUpload 
          td.thisMonthTotal
        tr.text-right
          td
            strong Last Month:
          td.lastMonthDownload
          td.lastMonthUpload 
          td.lastMonthTotal
        tr.text-right
          td
            strong Total:
          td.totalDownload
          td.totalUpload
          td.totalTotal

  script(type='text/template')#tmpl-modal-graph-multi
    div
      dl.dl-horizontal
        dt Current:
        dd.current
          .offline Server Offline
          .online
      div(style='position: relative;')
        .alert-background
          .center-alert
            .alert.alert-danger
              button(type='button', data-dismiss='alert', aria-hidden='true').close.close-alert &times;
              h4.text-center Server Offline
        .chart-container

      .well.well-sm
        dl.dl-horizontal
          dt Legend:
          dd.chart-legend
    div.graphModalBody

  .modal.fade(tabindex='-1', role='dialog', aria-labelledby='cpuModalLabel', aria-hidden='true')#cpuModal
    .modal-dialog.systemModal
      .modal-content
        .modal-header
          button(type='button', data-dismiss='modal', aria-hidden='true').close &times;
          h4.modal-title#cpuModalLabel Processor Information
        .modal-body
          div
            .cpuModel.text-center
            .chart-container
            .well.well-sm
              dl.dl-horizontal
                dt Legend:
                dd.chartLegend
          div
            h4 CPU Load Averages
            dl.dl-horizontal
              dt.1min 1 min: 
                span
              dd.1min
                .progress
                  .progress-bar.progress-bar-info
              dt.5min 5 min: 
                span
              dd.5min
                .progress
                  .progress-bar.progress-bar-info
              dt.15min 15 min: 
                span
              dd.15min
                .progress
                  .progress-bar.progress-bar-info

  .modal.fade(tabindex='-1', role='dialog', aria-labelledby='modal-lbl-memory', aria-hidden='true')#modal-multi-memory
    .modal-dialog.systemModal
      .modal-content
        .modal-header
          button(type='button', data-dismiss='modal', aria-hidden='true').close &times;
          h4.modal-title#modal-lbl-memory Memory History & Information
        .modal-body
          ul.nav.nav-tabs
          .tab-content

  .modal.fade(tabindex='-1', role='dialog', aria-labelledby='modal-multi-bandwidth', aria-hidden='true')#modal-multi-bandwidth
    .modal-dialog.systemModal
      .modal-content
        .modal-header
          button(type='button', data-dismiss='modal', aria-hidden='true').close &times;
          h4.modal-title#bandwidthModalLabel Bandwidth History & Information
        .modal-body
          ul.nav.nav-tabs
          .tab-content

  .top-display-bar
    .container
      .right-container.pull-right
        table
          tr
            td
              .weather-alerts.hidden-xs.hide
                span.label.label-danger.pointer
            td
              .weather-container
                .tempature.text.pointer(data-tooltip-title='Click to see weather')
            td
              .clock-container
                .clock.text
                  span.time
                  span.ampm
      - if(!isLoggedIn) {
        .login.hidden-xs
          form(role='form', action=locals.webRoot + '/', method='post').form-inline
            input(type='hidden', name='_csrf', value=locals.token)
            .form-group(style='padding: 7px 3px;')
              label(for='username').sr-only Username
              input(type='text', name='username', placeholder='Username').opacity.form-control.input-sm#username
            .form-group(style='padding: 7px; 3px')
              label(for='password').sr-only Password
              input(type='password', name='password', placeholder='Password').opacity.form-control.input-sm#password
            button(type='submit', style='height:22px;padding-left:5px;opacity:0.8;').btn.btn-xs.btn-default.opacity Sign In
      - } else {
        .user
          img(src='https://1.gravatar.com/avatar/67211144b67b493ef0605134d2bee41f').img-rounded.pointer
          span.label.label-success Logged In
      - }
  .body.container
    - if(message) {
      - if(messageDegree == 1) {
        .alert.alert-success
          button(type='button', data-dismiss='alert', aria-hidden='true').close &times;
          | #{locals.message}
      - } else if(messageDegree == 2) {
        .alert.alert-danger
          button(type='button', data-dismiss='alert', aria-hidden='true').close &times;
          | #{locals.message}
      - }

    - }

    .row
      .col-xs-12.visible-xs
        .weather-alerts.hide
          span.label.label-danger.pointer
      - if(!isLoggedIn) {
      .col-xs-12.visible-xs
        .panel.panel-default
          .panel-heading
            h4.panel-title Login Form
          .panel-body
            .login
              form(role='form', action=locals.webRoot + '/', method='post').form-inline
                input(type='hidden', name='_csrf', value=locals.token)
                .form-group
                  label(for='username') Username
                  input(type='text', name='username', placeholder='Username').form-control#username
                .form-group
                  label(for='password') Password
                  input(type='password', name='password', placeholder='Password').form-control#password
                button(type='submit').btn.btn-block.btn-success Sign In
      - }
    .row
      .col-md-4
        - if(enabledSickBeard) {
          .row
            .col-md-12
              .panel.panel-default.upComingShows
                .panel-heading
                  h4.panel-title TV Shows Airing Soon
                div(style='height:350px;overflow-y:auto;overflow-x:hidden;')
                  div
                    table.table.table-hover.list-days
        - }

        .row
          - if(enabledSickBeard) {
            .col-xs-6.col-md-6
              .panel.panel-default.panelStat.tvCompletion
                .panel-body.stat
                  .itemTooltip.small
                    .pull-right.percent
                    strong TV Completion:
                  .progress
                   .progress-bar
          - }
          .col-xs-6.col-md-6
            .panel.panel-default.panelStat
              .panel-body.stat
                .itemTooltip.small
                  strong User Watch Breakdown
                .progress
                 .progress-bar
        .row
          - if(enabledSabnzbd) {
          .col-md-12
            .panel.panel-default.panel-service.sabnzbd
              .panel-heading
                - if(isLoggedIn) {
                .pull-right
                  ul.list-inline
                   li
                     i.puase-downloading.glyphicon.glyphicon-pause.pointer
                   li
                    .badge.time-left.pointer
                      span.time 0:00:00
                      span.left  left
                   li
                    .badge.downloading-speed.pointer
                      span.number 0
                      span.unit  KB/s
                   li
                     i.glyphicon.glyphicon-plus.pointer
                - }

                h4.panel-title
                  img(src=locals.webRoot + '/images/sab2_32.png', alt='Sabnzbd+', title='Sabnzbd+', rel='tooltip').service-icon.visible-xs
                  span.hidden-xs Sabnzbd+

              - if(isLoggedIn) {
              .panel-body
                .loading Loading...
                .list-body.list-queue.small
                  table.table.table-hover
                    tbody

                .list-body.list-history.small(style='display:none;') History
              .panel-footer
                .pull-right.small.remaining-space
                  span.left
                  span  / 
                  span.total
                .btn-group.btn-group-xs
                  button(type='button').btn.btn-default.list-btn.btn-queue.active Queue 
                    span(title='Number of nzbs in the queue', rel='tooltip')
                      |(
                      span.nzbs-in-queue 0
                      |)
                  button(type='button').btn.btn-default.list-btn.btn-history History
              - } else {
              .panel-body.only-msg
                .panel-msg.alert.alert-danger
                  strong Login Required
                  |  Login is required to use this feature.
              - }
          - }

          .col-md-12
            .panel.panel-default.panel-service.couchpotato
              .panel-heading
                .pull-right
                  i.glyphicon.glyphicon-plus-sign
                h4.panel-title
                  img(src=locals.webRoot + '/images/couchpotato_32.png', alt='CouchPotato', title='CouchPotato', rel='tooltip').service-icon.visible-xs
                  span.hidden-xs CouchPotato

              .panel-body.only-msg
                .panel-msg.alert.alert-danger
                  strong Login Required
                  |  Login is required to use this feature.
      .col-md-8
        .row
          .col-md-12
            .panel.panel-default.recentlyAiredShows
              .panel-heading
                .pull-right.tabs
                  .tab.all.pull-left
                    a(href='#')
                      span.hidden-xs All Episodes
                      span.visible-xs  All
                  .tab.unwatched.pull-right.active
                    a(href='#')
                      span.hidden-xs  Unwatched Episodes
                      span.visible-xs  Unwatched

                h4.panel-title
                  span.hidden-xs Recently Aired TV Shows
                  span.visible-xs Recently Aired
              .panel-body
                ul.list-inline

        
          .col-md-8
            .row
              .col-md-6
                .panel.panel-default.recentlyAddedMoviesPanel
                  .panel-heading
                    h4.panel-title Recently Added Movies
                  .panel-body
                    .carousel.slide#recentlyAddedMoviesCarousel
                      .carousel-inner
                      a.left.carousel-control(href='#recentlyAddedMoviesCarousel', data-slide='prev')
                        span.glyphicon.glyphicon-chevron-left
                      a.right.carousel-control(href='#recentlyAddedMoviesCarousel', data-slide='next')
                        span.glyphicon.glyphicon-chevron-right
              .col-md-6
                .panel.panel-default.currentlyWatching
                  .panel-heading
                    h4.panel-title Currently Watching
                  .panel-body
                    .currentlyWactchingNothing Currently Watching Nothing
                    .carousel.slide#currentlyWatchingCarousel
                      .carousel-inner
            .row
              .col-md-12
                .panel.panel-default.panel-service.sickbeard
                  .panel-heading(style='margin:0')
                    .pull-right
                      i.glyphicon.glyphicon-plus-sign

                    h4.panel-title
                      img(src=locals.webRoot + '/images/SickBeard_64.png', alt='Sick Beard', title='Sick Beard', rel='tooltip').service-icon.visible-xs
                      span.hidden-xs Sick Beard

                  .panel-body.only-msg
                    .panel-msg.alert.alert-danger
                      strong Login Required
                      |  Login is required to use this feature.
 
          .col-md-4
            .panel.panel-default.panel-services
              .panel-heading
                h4.panel-title Services
              .panel-body
                table.table-services

            .panel.panel-default.diskSpacePanel
              .panel-heading
                h4.panel-title Disk Space
              .panel-body.stat
                ul.media-list

            .panel.panel-default.bandwidth-data-caps
              .panel-heading
                h4.panel-title Bandwidth Data Caps
              .panel-body.stat
                ul.media-list

  .bottom-bar-padding
  .bottom-display-bar
    .container
      .row
