extends layout

block javascript
  script(type='text/javascript')
    include:uglify index.js

block content
  script(type='text/template')#tmpl-panel-service-item-full
    td.text-right <%= label %>
    td.text-left
      a(target='_blank').btn.btn-xs
        i.glyphicon
        | <%= status %>

  .modal.fade(tabindex='-1', role='dialog', aria-labelledby='cpuModalLabel', aria-hidden='true')#cpuModal
    .modal-dialog.systemModal
      .modal-content
        .modal-header
          button(type='button', data-dismiss='modal', aria-hidden='true').close &times;
          h4.modal-title#cpuModalLabel Processor Information
        .modal-body
          div
            .cpuModel.text-center
            .chart-container
            .well.well-sm
              dl.dl-horizontal
                dt Legend:
                dd.chartLegend
          div
            h4 CPU Load Averages
            dl.dl-horizontal
              dt.1min 1 min: 
                span
              dd.1min
                .progress
                  .progress-bar.progress-bar-info
              dt.5min 5 min: 
                span
              dd.5min
                .progress
                  .progress-bar.progress-bar-info
              dt.15min 15 min: 
                span
              dd.15min
                .progress
                  .progress-bar.progress-bar-info

  .top-display-bar
    .container
      .right-container.pull-right
        table
          tr
            td
              .weather-alerts.hidden-xs.hide
                span.label.label-danger.pointer
            td
              .weather-container
                .tempature.text.pointer(data-tooltip-title='Click to see weather')
            td
              .clock-container
                .clock.text
                  span.time
                  span.ampm
      
      .user

  .body.container
    - if(message) {
      - if(messageDegree == 1) {
        .alert.alert-success
          button(type='button', data-dismiss='alert', aria-hidden='true').close &times;
          | #{locals.message}
      - } else if(messageDegree == 2) {
        .alert.alert-danger
          button(type='button', data-dismiss='alert', aria-hidden='true').close &times;
          | #{locals.message}
      - }

    - }

    .row
      .col-xs-12.visible-xs
        .weather-alerts.hide
          span.label.label-danger.pointer
      - if(!isLoggedIn) {
      .col-xs-12.visible-xs
        .panel.panel-default
          .panel-heading
            h4.panel-title Login Form
          .panel-body
            .login
              form(role='form', action=locals.webRoot + '/', method='post').form-inline
                input(type='hidden', name='_csrf', value=locals.token)
                .form-group
                  label(for='username') Username
                  input(type='text', name='username', placeholder='Username').form-control#username
                .form-group
                  label(for='password') Password
                  input(type='password', name='password', placeholder='Password').form-control#password
                button(type='submit').btn.btn-block.btn-success Sign In
      - }
    .row
      .col-md-4
        - if(enabledSickBeard) {
          .row
            .col-md-12
              .panel.panel-default.upcoming-shows
                .panel-heading
                  h4.panel-title TV Shows Airing Soon
                div(style='height:350px;overflow-y:auto;overflow-x:hidden;')
                  div
                    table.table.table-hover.list-days
        - }

        .row
          - if(enabledSickBeard) {
            .col-xs-6.col-md-6
              .panel.panel-default.panelStat.tvCompletion
                .panel-body.stat
                  .itemTooltip.small
                    .pull-right.percent
                    strong TV Completion:
                  .progress
                   .progress-bar
          - }
          .col-xs-6.col-md-6
            .panel.panel-default.panelStat
              .panel-body.stat
                .itemTooltip.small
                  strong User Watch Breakdown
                .progress
                 .progress-bar
        .row
          - if(enabledSabnzbd) {
          .col-md-12
            .panel.panel-default.panel-service.sabnzbd
              .panel-heading
                .pull-right.sabnzbd-topbar
                h4.panel-title
                  img(src=locals.webRoot + '/images/sab2_32.png', alt='Sabnzbd+', title='Sabnzbd+', rel='tooltip').service-icon.visible-xs
                  span.hidden-xs Sabnzbd+

              - if(isLoggedIn) {
              .panel-body
              .panel-footer(style='display:none')
              - } else {
              .panel-body.only-msg
                .panel-msg.alert.alert-danger
                  strong Login Required
                  |  Login is required to use this feature.
              - }
          - }

          .col-md-12
            .panel.panel-default.panel-service.couchpotato
              .panel-heading
                .pull-right
                  i.glyphicon.glyphicon-plus-sign
                h4.panel-title
                  img(src=locals.webRoot + '/images/couchpotato_32.png', alt='CouchPotato', title='CouchPotato', rel='tooltip').service-icon.visible-xs
                  span.hidden-xs CouchPotato

              - if(isLoggedIn) {
              .panel-body.only-msg
                .panel-msg.alert.alert-info
                  strong Coming Soon
                  |  This feature has not been implemented yet.
              - } else {
              .panel-body.only-msg
                .panel-msg.alert.alert-danger
                  strong Login Required
                  |  Login is required to use this feature.
              - }
      .col-md-8
        .row
          .col-md-12
            .panel.panel-default.recentlyAiredShows
              .panel-heading
                .pull-right.tabs(style='display:none')
                  .tab.all.pull-left
                    a(href='#')
                      span.hidden-xs All Episodes
                      span.visible-xs  All
                  .tab.unwatched.pull-right.active
                    a(href='#')
                      span.hidden-xs  Unwatched Episodes
                      span.visible-xs  Unwatched

                h4.panel-title
                  span.hidden-xs Recently Aired TV Shows
                  span.visible-xs Recently Aired
              .panel-body
                ul.list-inline

        
          .col-md-8
            .row
              .col-md-6
                .panel.panel-default.recently-added-movies
                  .panel-heading
                    h4.panel-title Recently Added Movies
                  .panel-body
                    .carousel.slide#recentlyAddedMoviesCarousel
                      .carousel-inner
                      a.left.carousel-control(href='#recentlyAddedMoviesCarousel', data-slide='prev')
                        span.glyphicon.glyphicon-chevron-left
                      a.right.carousel-control(href='#recentlyAddedMoviesCarousel', data-slide='next')
                        span.glyphicon.glyphicon-chevron-right
              .col-md-6
                .panel.panel-default.currently-watching
                  .panel-heading
                    h4.panel-title Currently Watching
                  .panel-body
                    .currentlyWactchingNothing Currently nothing being watching!
                    .carousel.slide#currentlyWatchingCarousel
                      .carousel-inner
            - if(enabledSickBeard) {
            .row
              .col-md-12
                .panel.panel-default.panel-service.sickbeard
                  .panel-heading(style='margin:0')
                    .pull-right
                      i.glyphicon.glyphicon-plus-sign

                    h4.panel-title
                      img(src=locals.webRoot + '/images/SickBeard_64.png', alt='Sick Beard', title='Sick Beard', rel='tooltip').service-icon.visible-xs
                      span.hidden-xs Sick Beard
                  - if(isLoggedIn) {
                  .panel-body.only-msg
                    .panel-msg.alert.alert-info
                      strong Coming Soon
                      |  This feature has not been implemented yet.
                  - } else {
                  .panel-body.only-msg
                    .panel-msg.alert.alert-danger
                      strong Login Required
                      |  Login is required to use this feature.
                  - }
             - }
          .col-md-4
            .panel.panel-default.panel-services
              .panel-heading
                h4.panel-title Services
              .panel-body
                .container-services
                  table(style='display:none').table-services

            .panel.panel-default.diskSpacePanel
              .panel-heading
                h4.panel-title Disk Space
              .panel-body.stat
                ul.media-list

            .panel.panel-default.bandwidth-data-caps
              .panel-heading
                h4.panel-title Bandwidth Data Caps
              .panel-body.stat
                ul.media-list

  .bottom-bar-padding
  .bottom-display-bar
    .container
      .row
