extends layout

block javascript
  script(type='text/javascript')
    include:uglify index.js
block content
  script(type='text/template')#tmpl-weather-popover
    table
      tr
        td
          canvas(width='90', height='90')#weatherIcon
        td(style='width:100%')
          h1.tempature
          h4.detail
    .weather-details
      h4(style='margin-top: 0').next-hour-title Next Hour
      h5.next-hour
      h4 Next 24 Hours
      h5.next-24
    p.small.text-right.no-link-color
      a(href='http://forecast.io/#/f/' + locals.weatherLocation, target='_blank') Forecast.io

  script(type='text/template')#tmpl-user-popover
    ul
      li
        a(tabindex='-1', href=locals.webRoot + '/') Login Settings
      li.divider
      li
        a(tabindex='-1', href=locals.webRoot + '/?logout') Logout


  script(type='text/template')#tmpl-panel-upcoming-show-item
    td
      img(src!='<%= showPoster %>').poster
    td.middle
      div
        strong <%= showName %>
      div.small <%= epTitle %> -  <%= epDateAirsAired %> <%= epDateFromNow %>
        div.small <%= showTimeAndNetwork %>
    td
      i.glyphicon.glyphicon-info-sign.moreInfo
      i.glyphicon.glyphicon-search.hidden

  script(type='text/template')#tmpl-panel-recently-aired-show-item
    .poster
      img(src!='<%= showPoster %>', title!='<%= showName %>').pointer

  script(type='text/template')#tmpl-panel-recently-aired-show-popover
    | <% if(loggedIn) { %> 
    .watch-status.small
      | <% if(watched) { %>
      span.label.label-info Watched
      | <% } else { %>
      span.label.label-warning Unwatched
      | <% }%>
    | <% }%>

    p.small
      strong Title: 
      | <%= epTitle %>
      br
      strong Episode: 
      | <%= epSeason %>x<%= epNumber %> 
      strong  Added: 
      | <%= epAddedFormated %>
      br
      span.small
        strong Plot: 
        | <%= epPlot %>
    div
      img(src!='<%= epPoster %>').epPoster.img-thumbnail

  script(type='text/template')#tmpl-panel-recently-added-movie-popover
    .carousel-menu
      .carousel-menu-holder
        h3.popover-title <%= title %> (<%= year %>)
        .carousel-menu-content
          | Hello

  script(type='text/template')#tmpl-panel-data-cap-li
    div
    .progress
      .progress-bar
    .detail
      .pull-right <%= percent %>%
      strong <%= label %>: 
      span.small.loggedIn
        span.used
        span  / 
        span.limit

  script(type='text/template')#tmpl-panel-disk-space-li
    a(href='#').pull-left
      img.media-object(src=locals.webRoot + '/images/LibDiskIcon.png')
    .media-body
      div <%= label %>
      .progress
        .progress-bar
      div(style='padding-top:1px')
        .pull-right <%= percent %>%
        .small
          span.usedSpace
          span  / 
          span.totalSpace

  script(type='text/template')#tmpl-bottom-display-item
    div.hide
      .loader.itemTooltip
        .loader-bg
          .text
            i.glyphicon.glyphicon-refresh.rotate-icon
        .spiner-holder-1.animate-0-25-a
          .spiner-holder-2.animate-0-25-b
            .loader-spiner
        .spiner-holder-1.animate-25-50-a
          .spiner-holder-2.animate-25-50-b
            .loader-spiner
        .spiner-holder-1.animate-50-75-a
          .spiner-holder-2.animate-50-75-b
            .loader-spiner
        .spiner-holder-1.animate-75-100-a
          .spiner-holder-2.animate-75-100-b
            .loader-spiner

    div
      .itemTooltip
        .detail Loading
        h1 <%= title %>:
      .progressDiv

  script(type='text/template')#tmpl-panel-service-item
    td(style='padding-right:5px;').text-right <%= label %>
    td.text-left
      a(style='width:65px;text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6)', target='_blank').btn.btn-xs
        i(style='padding-right:1.4em;').glyphicon
        | <%= status %>

  script(type='text/template')#tmpl-modal-bandwidth
    h4 Bandwidth Statistics
      .pull-right.small
        .not-logged-in(style='color:#b94a48') Please login to see these stats
        .logged-in Since 
          span.bwSince <%= dateSince %>
    table.table.table-hover.table-condensed.small.logged-in
      thead
        tr
          th
          th.text-right Download
          th.text-right Upload
          th.text-right Total
      tbody
        tr.text-right
          td
            strong Today:
          td.todayDownload
          td.todayUpload
          td.todayTotal
        tr.text-right
          td
            strong This Month:
          td.thisMonthDownload
          td.thisMonthUpload 
          td.thisMonthTotal
        tr.text-right
          td
            strong Last Month:
          td.lastMonthDownload
          td.lastMonthUpload 
          td.lastMonthTotal
        tr.text-right
          td
            strong Total:
          td.totalDownload
          td.totalUpload
          td.totalTotal

  script(type='text/template')#tmpl-modal-graph-multi
    div
      dl.dl-horizontal
        dt Current:
        dd.current
          .offline Server Offline
          .online
      div(style='position: relative;')
        .alertBackground
          .centerAlert
            .alert.alert-danger
              button(type='button', data-dismiss='alert', aria-hidden='true').close &times;
              h4.text-center Server Offline
        .chartContainer

      .well.well-sm
        dl.dl-horizontal
          dt Legend:
          dd.chartLegend
    div.graphModalBody

  .modal.fade(tabindex='-1', role='dialog', aria-labelledby='cpuModalLabel', aria-hidden='true')#cpuModal
    .modal-dialog.systemModal
      .modal-content
        .modal-header
          button(type='button', data-dismiss='modal', aria-hidden='true').close &times;
          h4.modal-title#cpuModalLabel Processor Information
        .modal-body
          div
            .cpuModel.text-center
            .chartContainer
            .well.well-sm
              dl.dl-horizontal
                dt Legend:
                dd.chartLegend
          div
            h4 CPU Load Averages
            dl.dl-horizontal
              dt.1min 1 min: 
                span
              dd.1min
                .progress
                  .progress-bar.progress-bar-info
              dt.5min 5 min: 
                span
              dd.5min
                .progress
                  .progress-bar.progress-bar-info
              dt.15min 15 min: 
                span
              dd.15min
                .progress
                  .progress-bar.progress-bar-info

  .modal.fade(tabindex='-1', role='dialog', aria-labelledby='memoryModalLabel', aria-hidden='true')#memoryModal
    .modal-dialog.systemModal
      .modal-content
        .modal-header
          button(type='button', data-dismiss='modal', aria-hidden='true').close &times;
          h4.modal-title#memoryModalLabel Memory History & Information
        .modal-body
          div
            dl.dl-horizontal
                dt Current Usage:
                dd.currentSpeeds
                  strong Buffer: 
                  span(style='padding-right:15px').buffer
                  strong Cache: 
                  span(style='padding-right:15px').cache
                  strong Used: 
                  span(style='padding-right:15px').used
            .chartContainer
            .well.well-sm
              dl.dl-horizontal
                dt Legend:
                dd.chartLegend

  .modal.fade(tabindex='-1', role='dialog', aria-labelledby='bandwidthModalLabel', aria-hidden='true')#bandwidthMultiModal
    .modal-dialog.systemModal
      .modal-content
        .modal-header
          button(type='button', data-dismiss='modal', aria-hidden='true').close &times;
          h4.modal-title#bandwidthModalLabel Bandwidth History & Information
        .modal-body
          ul.nav.nav-tabs
          .tab-content

  .top-display-bar
    .container
      .right-container.pull-right
        table
          tr
            td
              .weather-alerts.hide
                span.label.label-danger.pointer
            td
              .weather-container
                .tempature.text.pointer(data-tooltip-title='Click to see weather')
            td
              .clock-container
                .clock.text
                  span.time
                  span.ampm
      - if(!isLoggedIn) {
        .login.hidden-xs
          form(role='form', action=locals.webRoot + '/', method='post').form-inline
            input(type='hidden', name='_csrf', value=locals.token)
            .form-group(style='padding: 7px 3px;')
              label(for='username').sr-only Username
              input(type='text', name='username', placeholder='Username').opacity.form-control.input-sm#username
            .form-group(style='padding: 7px; 3px')
              label(for='password').sr-only Password
              input(type='password', name='password', placeholder='Password').opacity.form-control.input-sm#password
            button(type='submit', style='height:22px;padding-left:5px;opacity:0.8;').btn.btn-xs.btn-default.opacity Sign In
      - } else {
        .user
          img(src='https://1.gravatar.com/avatar/67211144b67b493ef0605134d2bee41f').img-rounded.pointer
          span.label.label-success Logged In
      - }
  .body.container

    - if(message) {
      - if(messageDegree == 1) {
        .alert.alert-success
          button(type='button', data-dismiss='alert', aria-hidden='true').close &times;
          | #{locals.message}
      - } else if(messageDegree == 2) {
        .alert.alert-danger
          button(type='button', data-dismiss='alert', aria-hidden='true').close &times;
          | #{locals.message}
      - }

    - }

    .row
      .col-md-4
        .row
          .col-md-12
            .panel.panel-default.upComingShows
              .panel-heading
                h4.panel-title TV Shows Airing Soon
              div(style='height:350px;overflow-y:auto;overflow-x:hidden;position:relative;').ucs-body
                div
                  table.table.table-hover.showList
        .row
          .col-xs-6.col-md-6
            .panel.panel-default.panelStat.tvCompletion
              .panel-body.stat
                .itemTooltip.small
                  .pull-right.percent
                  strong TV Completion:
                .progress
                 .progress-bar
          .col-xs-6.col-md-6
            .panel.panel-default.panelStat
              .panel-body.stat
                .itemTooltip.small
                  strong User Watch Breakdown
                .progress
                 .progress-bar
        .row
          .col-md-12
            .panel.panel-default.sabnzbd
              .panel-heading
                .pull-right
                  i.glyphicon.glyphicon-plus-sign
                h4.panel-title Sabnzbd+
              .panel-body.onlyMsg
                .panel-msg.alert.alert-danger
                  strong Login Required
                  |  Login is required to use this feature.
          .col-md-12
            .panel.panel-default.couchpotato
              .panel-heading
                .pull-right
                  i.glyphicon.glyphicon-plus-sign
                h4.panel-title CouchPotato
              .panel-body.onlyMsg
                .panel-msg.alert.alert-danger
                  strong Login Required
                  |  Login is required to use this feature.
      .col-md-8
        .row
          .col-md-12
            .panel.panel-default.recentlyAiredShows
              .panel-heading
                .pull-right.tabs
                  .tab.all.pull-left
                    a(href='#') All Episodes
                  .tab.unwatched.pull-right.active
                    a(href='#') Unwatched Episodes

                h4.panel-title Recently Aired TV Shows
              .panel-body
                ul.list-inline

        
          .col-md-8
            .row
              .col-md-6
                .panel.panel-default.recentlyAddedMoviesPanel
                  .panel-heading
                    h4.panel-title Recently Added Movies
                  .panel-body
                    .carousel.slide#recentlyAddedMoviesCarousel
                      .carousel-inner
                      a.left.carousel-control(href='#recentlyAddedMoviesCarousel', data-slide='prev')
                        span.glyphicon.glyphicon-chevron-left
                      a.right.carousel-control(href='#recentlyAddedMoviesCarousel', data-slide='next')
                        span.glyphicon.glyphicon-chevron-right
              .col-md-6
                .panel.panel-default.currentlyWatching
                  .panel-heading
                    h4.panel-title Currently Watching
                  .panel-body
                    .currentlyWactchingNothing Currently Watching Nothing
                    .carousel.slide#currentlyWatchingCarousel
                      .carousel-inner
            .row
              .col-md-12
                .panel.panel-default.sickbeard
                  .panel-heading
                    .pull-right
                      i.glyphicon.glyphicon-plus-sign
                    h4.panel-title SickBeard
                  .panel-body.onlyMsg
                    .panel-msg.alert.alert-danger
                      strong Login Required
                      |  Login is required to use this feature.
 
          .col-md-4
            .panel.panel-default.servicesStatusPanel
              .panel-heading
                h4.panel-title Services
              .panel-body.stat
                table.servicesList

            .panel.panel-default.diskSpacePanel
              .panel-heading
                h4.panel-title Disk Space
              .panel-body.stat
                ul.media-list

            .panel.panel-default.bandwidth-data-caps
              .panel-heading
                h4.panel-title Bandwidth Data Caps
              .panel-body.stat
                ul.media-list

  .bottom-bar-padding
  .bottom-display-bar
    .container
      .row
