doctype 5
html(lang='en')
  head
    title= title
    meta(name='viewport', content='width=device-width')
    link(rel='stylesheet', href=locals.webRoot + '/stylesheets/bootstrap.css')
    link(rel='stylesheet', href=locals.webRoot + '/stylesheets/bootstrap-theme.css')
    link(rel='stylesheet', href=locals.webRoot + '/stylesheets/perfect-scrollbar-0.4.5.min.css')

    link(rel='stylesheet', href=locals.webRoot + '/stylesheets/style.css')

    script(src=locals.webRoot + '/javascripts/jquery-2.0.3.js')
    script(src=locals.webRoot + '/javascripts/underscore.js')
    script(src=locals.webRoot + '/javascripts/backbone-1.1.0.js')
    script(src=locals.webRoot + '/javascripts/bootstrap.min.js')
    script(src=locals.webRoot + '/javascripts/numeral.min.js')
    script(src=locals.webRoot + '/javascripts/moment-with-langs.min.js')
    script(src=locals.webRoot + '/javascripts/jquery.flot.min.js')
    script(src=locals.webRoot + '/javascripts/jquery.flot.time.min.js')
    script(src=locals.webRoot + '/javascripts/jquery.flot.axislabels.js')
    script(src=locals.webRoot + '/javascripts/jquery.flot.stack.min.js')
    script(src=locals.webRoot + '/javascripts/jquery.color-2.1.2.min.js')
    script(src=locals.webRoot + '/javascripts/perfect-scrollbar-0.4.5.min.js')
    script(src=locals.webRoot + '/javascripts/skycons.js')

  body
    .body.container
      .row
        .col-md-12
          nav.navbar.navbar-fixed-top.navbar-inverse(role='navigation')
            .navbar-header
              button(type='button', data-toggle='collapse', data-target='#install-guide').navbar-toggle
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand(href='#') UpStats Board
            .collapse.navbar-collapse#install-guide
              ul.nav.navbar-nav
                li.active
                  a(href='#hGerenalSettings') General Settings
                li
                  a(href='#hDriveSettings') Drive Settings
                li
                  a(href='#') Bandwidth Settings
                li
                  a(href='#') Services
                li
                  a(href='#') Sick Beard Settings
                li
                  a(href='#') Plex Settings

        .col-md-12
          .panel.panel-default
            .panel-body
              form(role='form').form-horizontal
                h3#hGerenalSettings General Settings
                .form-group
                  label(for='txtWebHost').col-sm-2.control-label Web Host
                  .col-sm-10
                    input(type='text', placeholder='0.0.0.0').form-control#txtWebHost
                    span.help-block Host UpsBoard should listen on.

                  label(for='txtWebPort').col-sm-2.control-label Web Port
                  .col-sm-10
                    input(type='number', placeholder='8024').form-control#txtWebPort
                    span.help-block Port UpsBoard should listen on.

                  label(for='txtWebRoot').col-sm-2.control-label Web Root
                  .col-sm-10
                    input(type='text', placeholder='/').form-control#txtWebRoot
                    span.help-block Web root that would locate UpsBoard. Ex: http://localhost:8024
                      strong /status
                      | .

                  label(for='txtWebUsername').col-sm-2.control-label Username
                  .col-sm-10
                    input(type='text', placeholder='Username').form-control#txtWebUsername
                    span.help-block Optional authentication username.

                  label(for='txtWebPassword').col-sm-2.control-label Password
                  .col-sm-10
                    input(type='password', placeholder='Password').form-control#txtWebPassword
                    span.help-block Optional authentication password.

                h3#hDriveSettings Drive Settings
