doctype html
html(lang='en')
  head
    title= title
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width')
    link(rel='stylesheet', href=locals.webRoot + '/stylesheets/bootstrap.css?' + locals.seed)
    link(rel='stylesheet', href=locals.webRoot + '/stylesheets/bootstrap-theme.css?' + locals.seed)
    link(rel='stylesheet', href=locals.webRoot + '/stylesheets/font-awesome.css?' + locals.seed)
    link(rel='stylesheet', href=locals.webRoot + '/stylesheets/style.css?' + locals.seed)
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Alegreya+Sans:400,500,700', type='text/css')
    style @-webkit-keyframes rotateThis { from { -webkit-transform: scale(1) rotate(0deg); } to { -webkit-transform: scale(1) rotate(360deg); } }
    style @keyframes rotateThis { from { transform: scale(1) rotate(0deg); } to { transform: scale(1) rotate(360deg); } }

    script(src=locals.webRoot + '/javascripts/libs/require/require.js?' + locals.seed, data-main=locals.webRoot + '/javascripts/main')

    script(type='text/javascript').
      var Config = {
        Seed: #{locals.seed},
        IdCount: 0,
        IsLoggedIn: #{locals.isLoggedIn},
        IsMacOs: #{locals.isMacOs},
        StopUpdating: #{locals.debugStopUpdating},
        UpdateDelay: 5000,
        UpdateDelayLong: 60000,
        UpdateDelayShort: 2000,
        WeatherEnabled: #{locals.weatherEnabled},
        WebRoot: '#{locals.webRoot}',
        Colors: {
          Bandwidth: {
            download: {bg: '#b3d6f5', border: '#3071a9'},
            upload: {bg: '#fae2c0', border: '#ec971f'}
          },
          CPU: {
            System: {bg: '#b3d6f5', border: '#3071a9'},
            User: {bg: '#cbebf5', border: '#31b0d5'},
            'IO Wait': {bg: '#fae2c0', border: '#ec971f'}
          },
          Memory: {
            buffer: {bg: '#fae2c0', border: '#ec971f'},
            cache: {bg: '#b3d6f5', border: '#3071a9'},
            used: {bg: '#cbebf5', border: '#31b0d5'}
          }
        },
        Enabled: {
          SABnzbd: #{locals.enabledSabnzbd},
          SickBeard: #{locals.enabledSickBeard}
        },
        CanUse: {
          SABnzbd: #{locals.canUseSabnzbd},
        }
      };

    - if(googleAnalytics) {
    script(type='text/javascript').
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', '#{locals.googleAnalyticsId}', '#{locals.googleAnalyticsUrl}');
      ga('send', 'pageview');
    - }

  body
    block content

