doctype html
html(lang='en')
  head
    title= title
    meta(name='viewport', content='width=device-width')
    link(rel='stylesheet', href=locals.webRoot + '/stylesheets/bootstrap.css')
    link(rel='stylesheet', href=locals.webRoot + '/stylesheets/bootstrap-theme.css')
    link(rel='stylesheet', href=locals.webRoot + '/stylesheets/perfect-scrollbar-0.4.5.min.css')

    link(rel='stylesheet', href=locals.webRoot + '/stylesheets/style.css')

    script(src=locals.webRoot + '/javascripts/jquery-2.0.3.js')
    script(src=locals.webRoot + '/javascripts/underscore.js')
    script(src=locals.webRoot + '/javascripts/backbone-1.1.0.js')
    script(src=locals.webRoot + '/javascripts/bootstrap.min.js')
    script(src=locals.webRoot + '/javascripts/numeral.min.js')
    script(src=locals.webRoot + '/javascripts/moment-with-langs.min.js')
    script(src=locals.webRoot + '/javascripts/jquery.flot.min.js')
    script(src=locals.webRoot + '/javascripts/jquery.flot.time.min.js')
    script(src=locals.webRoot + '/javascripts/jquery.flot.axislabels.js')
    script(src=locals.webRoot + '/javascripts/jquery.flot.stack.min.js')
    script(src=locals.webRoot + '/javascripts/jquery.color-2.1.2.min.js')
    script(src=locals.webRoot + '/javascripts/perfect-scrollbar-0.4.5.min.js')
    script(src=locals.webRoot + '/javascripts/skycons.js')

    style @-webkit-keyframes rotateThis { from { -webkit-transform: scale( 1 ) rotate( 0deg ); } to { -webkit-transform: scale( 1 ) rotate( 360deg ); } }

    script(type='text/javascript')
      include:uglify layout.js
    script(type='text/javascript').
      App.Config.IsLoggedIn = #{locals.isLoggedIn};
      App.Config.IsMacOs = #{locals.isMacOs};
      App.Config.WebRoot = '#{locals.webRoot}';
      App.Config.StopUpdating = #{locals.debugStopUpdating};
      App.Config.weatherEnabled = #{locals.weatherEnabled};

      App.Config.Enabled = {
        SickBeard: #{locals.enabledSickBeard}
      };

    script(src=locals.webRoot + '/javascripts/app.funcs.js')

    - if(googleAnalytics) {
    script(type='text/javascript').
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', '#{locals.googleAnalyticsId}', '#{locals.googleAnalyticsUrl}');
      ga('send', 'pageview');
    - }

  body
    block content
    script(src=locals.webRoot + '/javascripts/app.view.topbar.js')
    script(src=locals.webRoot + '/javascripts/app.view.bottombar.js')
    script(src=locals.webRoot + '/javascripts/app.view.panel.datacap.js')
    script(src=locals.webRoot + '/javascripts/app.view.panel.diskspace.js')
    script(src=locals.webRoot + '/javascripts/app.view.panel.recentlyaddedmovies.js')
    script(src=locals.webRoot + '/javascripts/app.view.panel.recentlyairedshows.js')
    script(src=locals.webRoot + '/javascripts/app.view.panel.currentlywatching.js')
    script(src=locals.webRoot + '/javascripts/app.view.panel.services.js')
    - if(enabledSickBeard) {
      script(src=locals.webRoot + '/javascripts/app.view.panel.upcomm.ingshows.js')
      script(src=locals.webRoot + '/javascripts/app.view.panel.stat.tvcompletion.js')
    - }
    script(src=locals.webRoot + '/javascripts/app.modal.graph.js')
    script(src=locals.webRoot + '/javascripts/app.collection.disks.js')
    block javascript

